.logo {
    padding-top: 0px;
    padding-left: 75px;
      height:300px;
  }
  /*Menu Section Menu Section*/
  nav {
    background-color: skyblue;
      text-align: center;
      padding:25px 25px;
  }
  nav a {
  
      color: black;
      text-decoration: none;
      font-size:18px;
      padding:2px 10px;
      font-weight:500;
  }
  /********* Design Logo and Menu section CSS End **********/
  .logo1{
    height: 400px;
   width: 1290px;
   border: 5px solid #666;
  
  
  }
  .container{
   
  
    padding-left: 70px;
    padding-right:0px ;
  }
  .container1{
      border: 2px solid #666;
      background-color: pink;
  }
  input{
      
      margin-left: 30px;
  }
  h2{
      text-align: center;
  }
  
  textarea{
      margin-left: 80px;
  }
  #inp{
  margin-left: 160px;
  }
  select{
      width: 200px;
  
  }
  select option{
      width: 200px;
  }
  .city{
      width: 200px;
  margin-left: 250px;
  }
  .state{
          width: 200px;
  margin-left: 250px;
  }
  .prgrm{
              width: 200px;
  margin-left: 30px;
  
  }
  .footer{
    background-color: skyblue;
    padding:25px 25px;
  }